@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/*
 * Global
 */

* {
    --text: #e3f0f2;
    --background: #0a1415;
    --primary: #2a565b;
    --secondary: #122426;
    --accent: #54a4b0;

    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: var(--background);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-position: inside;
    list-style-type: square;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}

.highlight {
    background: linear-gradient(to right, var(--accent), var(--primary));
    background-position: 0 100%;
    background-size: 100% 0.15rem;
    background-repeat: repeat-x;
}

/*
 * Navbar
 */

#navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 10px 25px 0 var(--primary);

    font-size: 1.5rem;
    font-weight: 700;
}

#name {
    margin-left: 2vw;
}

#about {
    color: var(--accent);
}

#profile {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    cursor: pointer;
}

#profile:hover {
    background: linear-gradient(to right, var(--text), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#github {
    width: 8vh;
    height: 8vh;
    margin-right: 1vw;
}

/*
 * Cards
 */

#content {
    width: 100%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 3rem 0 3rem 0;
}

.card-content {
    background-color: var(--secondary);
    width: 50%;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center
}

.card-java {
    display: inline-block;
    font-style: italic;
    font-weight: 700;
    background: linear-gradient(45deg, var(--text), var(--accent) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.card-text {
    margin-top: 3rem;
    line-height: 2;
}

.card-icon {
    display: flex;
    align-items: center;
    width: 20%;
}

.card-img {
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/*
 * Footer
 */

#footer {
    background-color: var(--secondary);
    margin-top: 15vh;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
}